# Python environment files
__pycache__/
*.py[cod]
*$py.class

# Environment variables (Crucial for security!)
.env

# GitHub Codespaces / VS Code specific
.vscode/
.DS_Store

# Streamlit/Log files
*.log
