# Python environment files
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# VS Code and Codespaces
.vscode/
.DS_Store

# Streamlit and Logs
*.log
*.sqlite
debug.log

# Temporary files
*~
.tmp/
